# Environnement
.env
.env.local
.env.*.local

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Vercel
.vercel/
.vercel

# OS
.DS_Store
Thumbs.db
desktop.ini

# Éditeurs
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
*.tmp
logs/

# Build
dist/
build/
